.contact-form-container{
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
}  

h1{
   text-align: center;
   margin-bottom: 20px;
}
.contact-form{
    display: flex;
    flex-direction: column;
}
.form-control{
    margin-bottom: 15px;
}
.form-control label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-control input,
.form-control textarea{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;

}
.form-control{
    resize:vertical;
    height: 100px;
}
.error-message{
    color:red;
    margin-top: 5px;
    font-size: 0.875em;

}
button{
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
@media screen and (max-width: 600px){
.contact-form-container{
    padding: 15px;
}
.form-control input,
.form-control textarea{
    font-size: 14px;
}
}