.hero{
    background-image: url("./../../../assets/heroimage.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    padding-top: 20%;
    padding-right: 50px;
    color: #fff;
    z-index: -1;
}

.hero-text{
    color: #1a0202;
    text-align: center;
    margin: 0;
    padding: 0;
}
@media screen and (max-width:768px){
    .hero{
        background-position: right;
        padding-top: 50%;
        height:80vh;
    }
    .hero .hero-text{
        width: 100%;
    }
    
}
