



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Courier New', Courier, monospace;
  background: rgb(248, 242, 242);
}
.container{
  max-width: 85%;
  margin: auto;
}
.main{
  display: flex;
  justify-content: space-between;

}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
.row{
  width: 50%;
}
p{
  line-height: 30px;
  font-size: 18px;
}
